
.general-specs{
    text-align: left;
    display: flex;
    justify-content: space-around;
    margin: 5% 10% 15%;
    color: var(--quartery-color);
 }

 .preview-container{
    height: 100dvh;
 }

.preview-frame {
    display: flex;
    flex-direction: column;
    margin-top: 4dvh;
    width: 43dvw;
    min-height: 100dvh;
    background-color: var(--primary-color);
    border-radius: 5px;
}

 .preview-frame h1, .preview-frame h3 {
    text-align: center;
    color: var(--secondary-color)
}

.preview-frame h2{
    color: var(--quartery-color)
}

.multipliable-info{
    flex-grow: 1;
}

.general-info {
  display: flex;
  width: 100%;
  height: 15dvh;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--quartery-color);
  color: var(--primary-color);
  margin: 0 auto 2dvh;
  padding-bottom: 2dvh;
  text-align: center;
  max-height: 200px; 
  border-radius: 5px;
}

.general-info *{
    margin: 0;
}

.form-preview{
    width: 95%;
    padding: 1em;
    background-color: var(--tertiary-color);
    opacity: 0.7;
    margin: 1rem auto;
    border-radius: 5px;
}

.form-preview div{
    margin: 0 3.5rem;
    display: flex;
    justify-content: space-between;
}

.multipliable-info .form-preview div span:nth-of-type(2){
    color: var(--quartery-color)
}

.links{
  display: flex;
  width: 100%;
  height: 25dvh;
  flex-direction: column;
  justify-content: space-around;
    
}

.links, .links h2 {
    background-color: var(--quartery-color);
    width: 100%;
    border-radius: 5px;
    color: var(--secondary-color);
}

.links .general-specs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1rem 2rem 3rem;
    padding: 0;
    h3{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.links .general-specs h3, .links .general-specs h2{
    margin: 2px auto;
}
