img {
    max-width: 30px;
}

.tabs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 55dvw;
    height: 100dvh;
}

.tabs-interior {
    display: flex;
    margin: 1rem;
    background-color: blueviolet;
    width: 95%;
    height: 90%;
}

#side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 10%;
    justify-content: space-around;
}

.sideMenuButton {
    background-color: green;
    border-radius: 5px;
    width: 100%;
    height: 300px;
    margin: 0.1rem auto;
    cursor: pointer;
    position: relative;
    box-shadow: inset 0 0 14px 4px rgba(0, 0, 0, 0.2);
}

.sideMenuButton:hover,
.sideMenuButton:focus {
    box-shadow: 0 0 3px 3px whitesmoke;
}

.sideMenuButton:hover::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(section-name);
    position: absolute;
    width: 100px;
    height: 70%;
    left: 110%;
    top: 15%;
    background: green;
    border-radius: 90px;
    border: 2px solid black;
}

.info-list {
    background-color: crimson;
    width: 90%;
    margin: 0 auto;
}

.cv-details-input {
    width: 100%;
    height: 100%;
    background-color: green;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cv-details-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cv-details-form div {
    height: 10dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cv-details-form label {
    align-self: flex-start;
}