img{
  background: var(--quintery-color);
  max-width: 30px;
  border-radius: 25dvh;
  opacity: 0.8;
}

h1 {
    color: var(--quartery-color)
}

h2 {
    margin: 0;
    text-align: center;
    color: var(--primary-color)
}

.tabs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    width: 55dvw;
    height: 100dvh;
}

.tabs-interior {
    display: flex;
    margin: 1rem;
    background-color: var(--secondary-color);
    width: 95%;
    height: 85%;
}

#side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 10%;
    justify-content: space-around;
}

.sideMenuButton {
    background-color: var(--quintery-color);
    opacity: 0.8;
    border-radius: 5px;
    width: 100%;
    height: 290px;
    margin: 0.1rem auto;
    cursor: pointer;
    position: relative;
}

.sideMenuButton:hover,
.sideMenuButton:focus {
    box-shadow: 0 0 6px 6px var(--quartery-color);
}

.sideMenuButton:hover::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(name);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 1%;
    background: var(--tertiary-color);
    border-radius: 5px;
    color: var(--primary-color)
}

.info-list {
    background-color: var(--primary-color);
    width: 90%;
    margin: 0 auto;
}

.inputForm {
    width: 100%;
    height:  34dvh;
    margin-bottom: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inputForm div {
    width: 70%;
    display: flex;
    justify-content: space-between;

    input, textarea {
        width: 60%;
        min-height: 3dvh;
        max-height: 15dvh; 
        border-radius: 5px;
        box-shadow: none; 
    }

    textarea{
        height: 200px;
    }
}

.save-btn {
    width: 20dvh;
    background-color: var(--quartery-color);
    color: var(--secondary-color);
    border: none;
    padding: 1em 2.5em;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

/* .save-btn::before,
.save-btn::after {
        content: "";
        position: absolute;
        inset: -0.1rem;
        z-index: -1;
        background: conic-gradient(from var(--gradient-angle), var(--secondary-color), var(--tertiary-color), 
        var(--quartery-color), var(--quintery-color), var(--quartery-color));
        border-radius: inherit;
        animation: rotation 20s linear infinite;
}

.save-btn:after {
    filter: blur(3.5rem);
} */

.save-btn:hover {
    box-shadow: 3px 3px 10px black,
    -3px -3px 10px black;
 }

 .content-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80px;
 }

 .content-btns * {
    margin-right: 2rem;
 }